html, body{
	font-family: Arial, sans-serif; margin: 0;
}



header{
	background-color: lightgrey;
padding: 40px; text-align: center;
 }
h1{
	font-size: 90px; 
	color: darkblue;
}
header img{border-radius: 150px; 
	width: 300px; 
	border: 10px 
	solid black;}
.content{
	max-width: 900px;
margin: 0 auto;
padding: 0 20px;
}

img.big-img{
	max-width: 100%;
}

p.caption{font-size: 16px;
color: lightblue;
font-style: italic;
}
ul{list-style: none;
	margin: 0;
	padding: 0;
}
a{
	color: red;
	text-decoration: none;
}
footer{
	padding 40px 20x;
	background-color: lightgrey;
}
footer ul{
	text-align: center;
}
footer ul li{ display: inline-block;
	margin: 0 5px;

}